/* Light theme */
#switchButton .fa-sun {
  display: none;
}
/* Dark Theme*/
.dark #switchButton .fa-sun {
  display: block;
  color: #fff;
}
.dark #switchButton .fa-moon {
  display: none;
}
/* header */
.dark #header {
  background-color: #000;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}
.dark #header .navbar-nav .nav-item .nav-link {
  color: #fff;
}
.dark #header .navbar-nav .active .nav-link {
  color: var(--primary);
}
.dark #header .navbar-nav .nav-item .theme-button {
  background-color: var(--primary);
  color: #fff;
}
.dark #header .navbar-nav .nav-item .btn-outline-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* carousel */
.dark #carousel {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.85)),
    url(../img/carousel/banner.jpg);
}
.dark #carousel .right h3 {
  color: #fff;
}
.dark #carousel .right p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #carousel .theme-button {
  background-color: var(--primary);
  color: #fff;
}
.dark #carousel .btn-outline-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* professional */
.dark #professional{
  background-color: #000;
}
.dark #professional .title h3{
  color: #fff;
}
.dark #professional .title p{
  color: rgba(255, 255, 255, 0.6);
}
.dark #professional .card{
  background-color: #222;
}
.dark #professional .card-body h4{
  color: #fff;
}
.dark #professional .card-body p{
  color: rgba(255, 255, 255, 0.6);
}
/* about */
.dark #about {
  background-color: #000;
}
.dark #about .top .row h3 {
  color: #fff;
}
.dark #about .top .row p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #about .bottom .card{
  background-color: #222;
}
.dark #about .bottom .card h4{
  color:#fff;
}
.dark #about .bottom .card p{
  color: rgba(255, 255, 255, 0.6);
}
.dark #about .bottom .card:hover{
  box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.5);
}
.dark #about .btn-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* perform */
.dark #perform {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.85)
    ),
    url(../img/perform/bg.jpg);
}
.dark #perform .btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.dark #perform .btn-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* Explore */
.dark #explore{
  background-color: #000;
}
.dark #explore .title h3{
  color: #fff;
}
.dark #explore .title p{
  color: rgba(255, 255, 255, 0.6);
}
.dark #explore .card {
  background-color: #222;
  border-color: #eee;
}
.dark #explore .card-body .h4{
  color: #fff;
}
.dark #explore .card-body p{
  color: rgba(255, 255, 255, 0.6);
}
/* General */
.dark #general{
  background-color: #000;
}
.dark #general .row img{
  box-shadow: 3px 3px 5px rgba(225, 219, 219, 0.5);
}
.dark #general .title h3 {
  color: #fff;
}
.dark #general .title p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #general .question{
  background-color: #222;
}
.dark #general .question button{
  background-color: #222;
  color: #fff;
}
.dark #general .question div{
  color: rgba(255, 255, 255, 0.6);
}
/* Projects */
.dark #projects{
  background-color: #000;
}
.dark #projects .title h3 {
  color: #fff;
}
.dark #projects .title p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #projects .main ul li a{
  color: #fff;
}
.dark #projects .main ul li a.active{
  background-color: #000;
  color: var(--primary);
}
.dark #projects .main .tab-content h3{
  color: #fff;
}
.dark #projects .main .tab-content p{
  color: rgba(255, 255, 255, 0.6);
}
.dark #projects .btn-outline-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary);
}
.dark #projects .btn-outline-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* testimonial */
.dark #testimonial {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.77)
    ),
    url(../img/testimonal/bg.jpg);
}
.dark #testimonial .title h3 {
  color: #fff;
}
.dark #testimonial .title p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #testimonial .main .item {
  background-color: #222;
}
.dark #testimonial .main .right i {
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.6);
}
.dark #testimonial .main .right p{
  color: rgba(255, 255, 255, 0.6);
}
/* community */
.dark #community{
  background-color: #000;
}
.dark #community .main h3 {
  color: #fff;
}
.dark #community .main p {
  color: rgba(255, 255, 255, 0.6);
}
.dark #community .main .btn-outline-primary{
  background-color: var(--primary);
  color: #fff;
}
.dark #community .main .btn-outline-primary:hover {
  color: var(--primary);
  background-color: #fff;
}
.dark #community .btn-primary:hover {
  background-color: #fff;
  color: var(--primary);
}
/* footer */
.dark #footer {
  background-color: #000;
}
.dark #footer h3 {
  color: #fff;
}
.dark #footer a{
  color: rgba(255, 255, 255, 0.6);
}
.dark #footer a:hover{
  color: var(--primary);
}
.dark #footer .form {
  background-color: #222;
}
.dark #footer .form h4{
  color: rgba(255, 255, 255, 0.6);
}
.dark #footer .form p{
  color: rgba(255, 255, 255, 0.6);
}
.dark #footer .btn-primary{
  color: #fff;
}
.dark #footer .btn-primary:hover {
  color: #fff;
}